body {
  margin: 0;
  padding: 0;
  background-color: #1D58E2;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.showcase {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
}

.home {
  font-size: 45px;
  width: 633px;
  height: 139px;
  background-color: #FFF;
  position: absolute;
}

.homeContent {
  font-size: 50px;
  font-weight: bold;
  top: 39px;
  text-align: center;
}

.container {
  margin-left: 150px;
  width: 515px;
  margin-top: 150px;
}

.items {
  list-style: none;
  text-decoration: none;
  text-align: left;
  margin-right: 200px;
}

.itemsLink {
  font-size: 30px;
  color: #FFF;
  font-weight: bold;
  text-align: left;
}

.link {
  color: #FFF;
  text-decoration: none;
  font-size: 30px;
}

.link:hover {
  color: red;
  font-size: 35px;
  transition: 0.3s ease;
}

.linkContent {
  position: relative;
  right: 100px;
}

.title {
  font-weight: bold;
  font-size: 50px;
  align-items: center;
  text-align: left;
  margin-left: 100px;
}

.contentTitle {
  background-color: #FFF;
  width: 100%;
  height: 139px;
  position: absolute;
}

.game {
  width: 100px;
}

.change {
  margin-top: 150px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 20px;
  margin-left: 100px;
  width: 215px;
  cursor: pointer;
  border: none;
  transition: 0.3s ease;
  color: #FFF;
  background-color: #1D58E2;
  text-align: left;
}

.change:hover {
  background-color: green;
}

#question {
  margin-left: 100px;
  color: #FFFFFF;
}

.questionTitle {
  width: 720px;
  margin-top: 80px;
  color: black;
  text-align: left;
}

input {
  width: 350px;
  font-size: 25px;
  height: 24px;
}

.questionSubmit {
  background-color: green;
  color: #FFF;
  width: 50px;
  height: 30px;
  cursor: pointer;
  border: none;
  margin-top: 20px;
}